@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  padding-block: 2rem;
  margin-bottom: 4.8rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__link {
    font-weight: 900;
    color: v.$negro;
  }

  &__link--registrar {
    @include m.boton(v.$primario, v.$blanco);
  }
}